.comprar_wrapper{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    gap:25px;
    padding: 64px 16px;
}

.comprar_img{
    width: 400px;
    height: 415px;
}

.comprar_title{
    padding-bottom: 25px;
}

.comprar_titulo{
    font-weight: 600;
    line-height: 40px;
    font-size: 30px;
    color: white;
}

.comprar_preco{
    display: flex;
    align-items: center;
    gap:10px;
    padding-bottom: 17px;
}

.comprar_p{
    background-color: #535353;
    color: #C0BBBB;
    padding: 2px 10px;
    border-radius: 10px;
}

.comprar_span{
    font-weight: 700;
    color: white;
}

.comprar_span2{
    color: green;
}

.comprar_sobre{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.comprar_h{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.comprar_h2{
    color: #FFF;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 24px;
    padding-bottom: 10px;
}

.comprar_lista{
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.comprar_menu{
    border: 6px solid white;
    padding: 25px;
    border-radius: 10px;
}

.comprar_entrega{
    padding: 16px 0;
    color: #fff;
    font-weight: 300;
    max-width: 40ch;
}

.comprar_estoque{
    color: red;
    padding-bottom: 15px;
}

.comprar_btn{
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 25px;
}

.comprar_card{
    display: flex;
    align-items: center;
}

.comprar_h4{
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
}

.comprar_span3{
    color: gray;
}

.comprar_li {
    padding-left: 18px;
    list-style: inside;
    max-width: 45ch;
    font-size: 15px;
}
  